<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ventec.pipreader" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>VEN-TEC Pip-Reader</name>
    <description>Survival databank and offline ebook reader. Post-apocalypse terminal edition.</description>
    <author email="jimcarlonline@gmail.com" href="https://ven-tec.local">VEN-TEC Industries</author>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff05070a" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <preference name="scheme" value="http" />
    <preference name="hostname" value="localhost" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="32" />
    </platform>

    <engine name="android" spec="11.0.0" />
</widget>
